.body_background 
{
    background-image: url("https://lh3.googleusercontent.com/diCigYb9gPP0Z1qyu0K0Lb8_JLDFJxZe5qFb28b3d2R42HoSrytgsR7ty5aAhV-CJxmkRFPRZpcWCjXv1QU5=w1440-h763-rw");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
	background-color: aquamarine;
	color: crimson;
 }
h3
{
	display: inline-block;
}
span
{
	color: white;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
